@import url("font-awesome.min.css");

* { box-sizing: border-box; }


body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background: #ffffff;
	overflow-x: hidden;
}

textarea { resize: none; }

.header {
	display: flex;
	align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100%;
    background: #161415 url(../images/background.jpeg) no-repeat top center;
    background-size: cover;
    text-align: center;
    overflow: hidden;
}

.header > .header-text {
	width: 85%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.header > .header-text > .title {
    font-size: 90px;
    color: #fff;
    margin: 0 auto 18px auto;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}

.header > .header-text > .short-description {
    color: #A8A8A8;
    width: 60%;
    line-height: 1.5em;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}

.header > .header-text > .short-description > span,
.header > .header-text > .short-description > a {
	    color: #fff;
}

.header > .header-text > .short-description > a { text-decoration: none; }
.header > .header-text > .short-description > a:hover { color: #F06000; }

.header > .header-text > hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
}

.header > .header-text > .social {
   margin: 24px 0;
   padding: 0;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
.header > .header-text > .social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}
.header .header-text > .social li a { color: #fff; }
.header .header-text > .social li a:hover { color: #F06000; }

.header #scroll-down {
	display: flex;
	flex-direction: column;
}

.header #scroll-down a {
   position: absolute;
   bottom: 15px;
   left: 50%;
   margin-left: -29px;
   color: #fff;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #fff;
   border-radius: 100%;
   transition: all .3s ease-in-out;
}

.header #scroll-down a:hover { color: #F06000; }

.navbar {
	width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}

.navbar > .navbar-list {
	min-height: 48px;
    width: auto;
    text-align: center;
}

.navbar > .navbar-list > .navbar-item {
	position: relative;
	list-style: none;
    height: 48px;
    display: inline-block;
}

.navbar > .navbar-list > .navbar-item > .navbar-link {
	display: inline-block;
    padding: 8px 13px;
    line-height: 32px;
	text-decoration: none;
    text-align: left;
    color: #fff;
	transition: color .2s ease-in-out;
}

.navbar > .navbar-list > .navbar-item > .navbar-link:hover { color: #F06000; }

.navbar > .navbar-list > .navbar-item.active > .navbar-link { color: #F06000; }

#quien-soy,
#experiencia,
#contacto {
	margin-left: calc(-50vw + 50%);
	margin-right: calc(-50vw + 50%);
	/*margin-right: calc((-50vw + 50%) - -9px);*/
	background: #2B2B2B;
    padding-top: 96px;
    padding-bottom: 66px;
    overflow: hidden;
}

#quien-soy h2 {
    color: #fff;
    margin-top: 0;
}

#quien-soy h2 span {
    font-weight: normal;
    border-bottom: 3px solid #11ABB0;
    padding-bottom: 6px;
    text-transform: uppercase;
}

#quien-soy p {
    line-height: 30px;
    color: #7A7A7A;
}

#quien-soy .profile-pic > img {
	position: relative;
    border-radius: 50%;
    height: 250px;
	max-width: 100%;
}

.flip {
	height: 305px;
	position: relative;
	text-align: center;
	transform-style: preserve-3d;
} 

.b-n, .color {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transition: transform 1s;
}

.color {
	transform: rotateY(-180deg);
}

.flip:hover .b-n {
	transform: rotateY(-180deg);
}

.flip:hover .color {
	transform: rotateY(0);
}

#estudios,
#cursos {
	padding-top: 96px;
    padding-bottom: 50px;
    border-bottom: 1px solid #E8E8E8;
}

#estudios h2,
#experiencia h2,
#cursos h2 {
    letter-spacing: 1px;
    -webkit-margin-before: 1em;
    text-align: center;
}

#estudios h2 span,
#cursos h2 span {
    border-bottom: 3px solid #11ABB0;
    padding-bottom: 6px;
    text-transform: uppercase;
}

#estudios .estudios-info h3,
#cursos .cursos-info h3 {
	font: 30px/30px 'opensans-regular', sans-serif;
    font-weight: bold;
}

#estudios .estudios-info .info,
#experiencia .exp-info .info,
#cursos .cursos-info .info {
    color: #6E7881;
    margin-bottom: 18px;
    margin-top: 9px;
    font-style: italic;
}

#estudios .estudios-info .info span,
#experiencia .exp-info .info span,
#cursos .cursos-info .info span {
    margin-right: 5px;
    margin-left: 5px;
    color: #11ABB0;
    font-weight: bold;
}

#estudios .estudios-info .desc,
#experiencia .exp-info .desc,
#cursos .cursos-info .desc {
    line-height: 30px;
    color: #838C95;
}

#estudios .fecha,
#experiencia .fecha,
#cursos .fecha {
    font: 15px/24px 'opensans-regular', sans-serif;
    margin-top: 6px;
}

#experiencia h2 span {
	font-weight: normal;
    border-bottom: 3px solid #11ABB0;
    padding-bottom: 6px;
    text-transform: uppercase;
    color: #fff;
}

#experiencia .exp-info h3 {
	color: #fff;
    font: 30px/30px 'opensans-regular', sans-serif;
}

#sobre-mi {
    padding-top: 96px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

.about-me > .mi-video {
	max-width: 50%;
	float: left;
}

.about-me > .about-me-info {
	max-width: 50%;
	float: right;
}

.about-me > .about-me-info h2 {
	margin-top: 0;
}

.about-me > .about-me-info h2 span {
    border-bottom: 3px solid #11ABB0;
    padding-bottom: 6px;
    text-transform: uppercase;
}

#contacto {
   background: #191919;
   padding-top: 96px;
   padding-bottom: 102px;
   color: #636363;
}
#contacto .section-head { margin-bottom: 42px; }

#contacto a, #contacto a:visited  { color: #11ABB0; }
#contacto a:hover, #contacto a:focus { color: #fff; }

#contacto h2 span {
    font-weight: normal;
    border-bottom: 3px solid #11ABB0;
    padding-bottom: 6px;
    text-transform: uppercase;
    color: #fff;
}

#contacto h2 span:after {
   	font-family: 'FontAwesome';
   	content: "\f0e0";
	font-size: 36px;
   	line-height: 72px;
   	text-align: left;
   	display: block;
   	color: #ebeeee;
}

#contacto h4 {
   font: 16px/24px 'opensans-bold', sans-serif;
   color: #EBEEEE;
   margin-bottom: 6px;
}

#contacto p.lead {
   font: 15px/36px 'opensans-light', sans-serif;
   padding-right: 3%;
}

#contacto form { margin-bottom: 30px; }
#contacto fieldset, #cursos fieldset { border: 0; }
#contacto label,
#contactHowMeet span {
    font: 15px/24px 'opensans-bold', sans-serif;
    margin: 12px 0;
    color: #EBEEEE;
    display: inline-block;
    width: 26%;
    text-align: right;
    padding-right: 50px;
    float: left;
}

#contacto input,
#contacto textarea,
#contacto select {
  padding: 5px;
	color: #eee;
	background: #373233;
	margin-bottom: 20px;
	border: 0;
	outline: none;
  font-size: 13px;
  line-height: 20px;
  width: 65%;
}

#contacto .radio-select input { background-color: transparent; }

#cursos label { color: #838C95; }

#cursos #coursesForm { margin-left: 25px; }

#cursos input,
#cursos textarea,
#cursos select {
	padding: 5px 8px;
    color: #eee;
    background: #373233;
    margin-bottom: 20px;
    border: 0;
    outline: none;
    line-height: 20px;
    width: 90%;
    display: block;
}

#cursos span.required { color: #11ABB0; }

#contacto input:focus,
#cursos input:focus,
#contacto textarea:focus,
#cursos textarea:focus,
#contacto select:focus,
#cursos select:focus {
	color: #fff;
	background-color: #11ABB0;
}

#contacto .radio-select input:focus { background-color: transparent; }

#cursos button.submit,
#contacto button.submit {
	font: 16px/30px 'opensans-bold', sans-serif;
    padding: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #0D0D0D;
    background: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 26%;
    font-weight: bold;
}

#cursos button.submit {
    color: #fff;
    background: #373233;
    margin-left: 0;
}

#cursos button.submit:hover {
    background: #11ABB0;
    color: #fff;
}

#cursos .course-container {
	display: flex;
	border-bottom: 1px solid lightgray;
}

#cursos .course-container:last-child { border-bottom: none; }

#cursos .curso-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cursos .curso-buttons button {
    background: transparent;
    border: none;
    font-size: large;
    margin-bottom: 20px;
}

#cursos .curso-buttons button:last-child { margin-bottom: 0;}

#cursos .curso-buttons button:hover { color: green; }

#cursos .curso-buttons button:last-child:hover { color: red; }

#cursos .curso-buttons button.guardar { display: none; }

#image-loader-cursos {
   	display: none;
   	position: absolute;
    margin-left: 20px;
}

#image-loader-cursos img {
	height: 54px;
   	border-radius: 50%;
}

#contacto button.submit:hover {
	background: #fff;
    color: #11ABB0;
}

#contacto span.required {
	color: #11ABB0;
	font-size: 13px;
}

#contactHowMeet span {
	margin-top: 30px;
}

.radio-select {
	width: 65%;
    display: flex;
    align-items: baseline;
    border: 1px solid #11ABB0;
}

#contactHowMeet .radio-select label {
	padding: 0;
    width: 100%;
    padding: 0;
}

#contactHowMeet .radio-select input {
    /*margin-left: -25px;*/
    margin-top: 30px;
    margin-bottom: 30px;
}



#cuentamelo {
	padding-top: 20px;
	display: none;
}

#cuentamelo textarea {
	margin-bottom: 0px
}

#send-button {
	padding-top: 30px;
}

#message-warning, #message-success {
   	display: none;
	background: #0F0F0F;
	padding: 24px 24px;
	margin-bottom: 36px;
   	width: 65%;
   	margin-left: 26%;
}

#message-warning { color: #D72828; }
#message-success { color: #11ABB0; }

#message-warning i,
#message-success i {
   margin-right: 10px;
}

#image-loader {
   display: none;
   position: relative;
   left: 18px;
   top: 17px;
}

footer {
   	margin-top: -30px;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus { color: #11ABB0; }

footer .social {
   	padding: 0;
   	font-size: 30px;
   	display: flex;
	justify-content: center;
	list-style-type: none;
}

footer .social li {
    margin: 0;
    padding: 0;
    margin-left: 40px;
}

footer .social li:first-child { margin-left: 0; }

footer .copyright {
    margin: 0;
    padding: 0;
 }

footer .copyright li {
    display: inline-block;
}

#scroll-top a {	
	display: block;
	width: 60px;
	height: 60px;
	background-color: #525252;
	color: #fff;
    font-size: 21px;
    line-height: 60px;
 	border-radius: 100%;
    transition: all 0.2s ease-in-out;
}

#scroll-top a:hover { background-color: #0F9095; }

.opacidad { background-color: #333; }

.clearfix:after {
	content: " "; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}